* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}
.heading {
  margin-top: 50px;
}
.box_cotainer {
  margin: 20px;
  padding: 0;
  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.blue_box {
  height: 100px;
  text-align: center;
  background-color: blue;
  border: 2px solid black;
  cursor: pointer;
}

.red_box {
  height: 100px;
  text-align: center;
  background-color: red;
  border: 2px solid black;
  cursor: pointer;
}
